body { 
  margin: 0; 
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

canvas { 
  width: 640px; height: 360px 
}

.video-background {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.background {
  position: fixed;
  width: 100%;
  z-index: -1;
}

.head{
  position: fixed;
  font-family: 'Trebuchet MS';
  text-align: center;
  width: 18%;
  height: 100vh;
}

.outline {
  display: flex;
  flex-direction: row;
}

h1 {
  color: rgb(200, 200, 200);
}

.head a {
  color: rgb(200, 200, 200);
  text-decoration: none;

}

.head p {
  padding-top: 15px;
  color: rgb(200, 200, 200);
}

.story-outline {
  width: 80%;
  margin-left: 20vw;
}

.blank {
  position: relative;
  display: block;
  height: 230px;
  color: white;
  font-size: 30px;
  margin-top: 25px;
}

#story1 {
  color: white;
  font-size: 40px;
  height: 350px;
  text-align: center;
}

#story1 p {
  font-size: 20px;
  width: 90%;
  line-height: 30px;
  background-color: rgb(150, 150, 150, 0.5);
  padding: 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#story2 {
  color: white;
  font-size: 40px;
  height: 80px;
  text-align: center;
}

#story3 {
  opacity: 0.7;
  text-align: center;
}

#story3 img {
  width: 100%;
  max-width: 800px;
}

#story4 {
  opacity: 0.7;
  text-align: center;
}

#story4 video {
  width:60%;
  max-width: 400px;
}

#story5 {
  color: white;
  font-size: 40px;
  height: 80px;
  text-align: center;
  margin-top: 150px;
}

#story6 {
  opacity: 0.8;
  text-align: center;
}

#story6 img {
  width: 100%;
  max-width: 600px;
}

#story7 {
  opacity: 1;
  text-align: center;
}

#story7 video {
  width: 100%;
  max-width: 800px;
}

#story8 {
  color: white;
  font-size: 40px;
  height: 80px;
  text-align: center;
  margin-top: 150px
}

#story9 {
  width: 100%;
  opacity: 0.8;
  text-align: center;
}

#story9 img {
  width: 80%;
  max-width: 600px;
}

#story10 {
  color: white;
  font-size: 40px;
  height: 80px;
  text-align: center;
  margin-top: 150px;
}

#story11 {
  opacity: 0.8;
  text-align: center;
}

#story11 img {
  width: 100%;
  max-width: 800px;
}

#story12 {
  color: white;
  font-size: 40px;
  height: 80px;
  text-align: center;
  margin-top: 150px;
}

#story13 {
  opacity: 0.9;
  text-align: center;
}

#story13 img {
  width: 100%;
  max-width: 800px;
}

#story14 {
  opacity: 0.8;
  text-align: center;
}

#story14 img {
  width: 100%;
  max-width: 800px;
}

#story15 {
  color: white;
  font-size: 40px;
  height: 300px;
  text-align: center;
  margin-top: 150px;
}